/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #141414;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
}

.menu li:not(:last-child) {
  margin-right: 2rem;
}

.menu li a {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Main styles */
main {
  max-width: 1200px;
  margin: 5rem auto 0;
  padding: 0 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.tier {
  margin: 2rem 0;
}

.tier h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.s-tier-row {
  background-color: #ff7f7e;
}

.a-tier-row {
  background-color: #ffbf7f;
}

.b-tier-row {
  background-color: #beff7f;
}

.c-tier-row {
  background-color: #beff7f;
}

.d-tier-row {
  background-color: #7eff80;
}

.e-tier-row {
  background-color: #7fffff;
}

.f-tier-row {
  background-color: #bf7fbe;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 3px;
}

.row h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.additional-info {
  font-size: 1.2rem;
  font-style: italic;
}
