/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #2b2d42; /* #2b2d42*/
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Header styles */
header {
  background-color: #2d422b; /* #1d1f2f */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li:not(:last-child) {
  margin-right: 30px;
}

.menu li a {
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.menu li a:hover {
  transform: translateY(-3px);
}

.menu li i {
  font-size: 1.5rem;
}

/* Main styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}

.tier {
  margin-bottom: 50px;
}

.tier h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.s-tier-row {
  background-color: #ff7f7e;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.a-tier-row {
  background-color: #ffbf7f;
}

.b-tier-row {
  background-color: #beff7f;
}

.c-tier-row {
  background-color: #beff7f;
}

.d-tier-row {
  background-color: #7eff80;
}

.e-tier-row {
  background-color: #7fffff;
}

.f-tier-row {
  background-color: #bf7fbe;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.row h3 {
  font-size: 1.5rem;
}

.additional-info {
  font-size: 1rem;
}
